header{
    background-color: grey;
    padding: 50px 0;
}

.caja{
        width: 940px;
        position: relative;
        margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 20px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
}

.producto{
    width: 940px;
    margin: auto;
    padding: 50px;
}

.producto li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    background-color: white;
    margin: 0 1.5%;
    padding: 30px  20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px 20px 20px 20px;
    
}

.producto li:hover{
    border-color: #c78c19;
}

.producto li:active{
    border-color: green;
}

.producto h2{
    font-size: 25px;
    font-weight: bold;
}

.producto li:hover h2{
    font-size: 28px;
}

.producto-descripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.texto-pie{
    color: white;
    font-size: 15px;
    margin: 20px;
}

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0px;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 20px;
    width: 50%;

}

.checkbox{
    margin: 20px 0px;
}

.enviar{
    width: 40%;
    padding: 15px 0px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;

}

.enviar:hover{
    background: red;
    transform: scale(1.2);
}

table{
    margin: 40px 40px;
}

thead{
    background: grey;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid black;
    padding: 8px 15px;
}